* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 2rem;
}

button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #f5f7fa;
}

button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 50%;
}

label {
  font-size: 1rem;
  margin-bottom: 1rem;
}

input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #f5f7fa;
  outline: none;
  width: 100%;
}

.rides {
  margin-top: 4rem;
}

.rides h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  width: 30vw;
}

li {
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

li:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.item {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  form {
    width: 100%;
  }

  .field {
    width: 80%;
  }

  .title {
    font-size: 2rem;
  }

  ul {
    width: 100%;
  }
}
