{% extends "network/layout.html" %}

{% block body %}

  <div class="profile">
    <div class="profileInfo">
      <h2 id="username"> {{ username }} </h2>
      <div class="profileStats">
        <div class="profileStat">
          Followers <br> 
          <div id="followers">
            {{ followers }}
          </div> 
        </div>
        <div class="profileStat">
          Following <br> {{ following }}
        </div>
      </div>
      {% if user.is_authenticated and user.username != username %}
        <button id="followButton" class="btn btn-primary mt-4">
          {% if follows %}
            Unfollow
          {% else %}
            Follow
          {% endif %}
        </button>
      {% endif %}
    </div>

    <div class="profileHistory">
      <h3> Posts </h3>
      {% for post in posts %}
      <div class="postContainer">
        <div class="postText">
          {{ post.text }}
        </div>
        <div class="postInfo>
          <div class="postLikes">
            <i id="likeIcon" class="fa fa-solid fa-heart-o" style="margin-right: 5px;"></i> 0
          </div>
          <div class="postTimestamp">
            <small>
              {{post.timestamp}}
            </small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}