{% extends "auctions/layout.html" %}

{% block body %}
    <div class="rightSide">
        <h2>Register</h2>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form class="registerForm" action="{% url 'register' %}" method="post">
            {% csrf_token %}
                <input autofocus type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email Address">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmation" placeholder="Confirm Password">
            <input class="registerButton" type="submit" value="Register">
        </form>
    
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>


{% endblock %}