{% extends "auctions/layout.html" %}

{% block body %}
    <div class="rightSide">

      {% if user.is_authenticated %}

        <h2>Your watchlist</h2>

        <ul class="listings">
            {% for auction in auctions %}
            <a href="{% url 'item' item_id=auction.id %}">
                <li class="listingItem">
                    <div class="mainItemInfo">
                        <h1> {{ auction.title }} </h1>
                        <p>
                            <strong>Description: </strong> {{ auction.description }} 
                        </p>
                        <div> 
                            <strong>Current Price: </strong> ${{ auction.current_price }} 
                        </div>
                        <div> 
                            <strong>Category: </strong> {{ auction.category }} 
                        </div>
                        <div> 
                            <strong>Starting Bid: </strong> ${{ auction.starting_bid }} 
                        </div>
                        <div> 
                            <strong>Posted by: </strong> {{ auction.user }}
                        </div>
                    </div>
                    {% if auction.image %}
                        <img src="{{ auction.image }}" alt="Item for listing" />
                    {% else %}
                        <p>No image was provided</p>
                    {% endif %}
                </li>
            </a>
            {% endfor %}
        </ul>
      {% else %}
        <h2>You must be logged in to view your watchlist</h2>
      {% endif %}
    </div>
{% endblock %}