{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://unpkg.com/react@17/umd/react.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link href="{% static 'ride/styles.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Ride</title>
  </head>
  <body>
    {% block body %} 
    {% endblock %}

    <script type="text/babel" src="{% static 'ride/App.js' %}"></script>
    <script type="text/babel" src="{% static 'ride/Ride.js' %}"></script>
    <script type="text/babel">
      ReactDOM.render(<App />, document.querySelector("#app"));
    </script>
    <script type="text/babel">
      ReactDOM.render(<Ride />, document.querySelector("#ride"));
    </script>
  </body>
</html>
