{% extends "ride/layout.html" %} 

{% block body %}

<div class="container">
  <h2 style="margin-top: 2rem">Ride Details</h2>
  <a href="/rides">
    <button style="margin-bottom: 2rem; margin-top: 2rem">Return</button>
  </a>

  <div class="details">
    <div class="detailsItem">
      <div class="detailsTitle">Departure:</div>
      {{ride.departure}}
    </div>
    <div class="detailsItem">
      <div class="detailsTitle">Destination:</div>
      {{ride.destination}}
    </div>
    <div class="detailsItem">
      <div class="detailsTitle">Schedule:</div>
      {{ride.schedule}}
    </div>
    <div class="detailsItem">
      <div class="detailsTitle">Seats:</div>
      {{ride.seats}}
    </div>
    <div class="detailsItem">
      <div class="detailsTitle">Price:</div>
      {{ride.price}}
    </div>
    <div class="detailsItem">
      <div class="detailsTitle">Driver:</div>
      {{ride.driver}}
    </div>
    <div class="detailsItem">
      <div class="detailsTitle">Passengers:</div>
      {% if passengers %}
      <ul>
        {% for passenger in passangers %}
        <li>{{passenger}}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No passengers yet</p>
      {% endif %}
    </div>
  </div>

  <h2 style="margin-bottom: 2rem; margin-top: 2rem">Messages</h2>
  <h2 style="margin-bottom: 2rem; margin-top: 2rem">Below, is a chat with everyone who is interested</h2>
  <div class="messages">
    <div class="allMessages">
      {% if messages %} 
        {% for message in messages %}
          {% if message.sender == request.user %}
            <div class="message-right">
              <small>{{ message.sender }} - {{ message.created_at }} </small>
              <div class="messageText-right">{{message.message}}</div>
            </div>
          {% else %}
            <div class="message-left">
              <small>{{ message.sender }} - {{ message.created_at }} </small>
              <div class="messageText-left">{{message.message}}</div>
            </div>
          {% endif %}
        {% endfor %} 
      {% else %}
      <p style="margin-top: 2rem">No messages yet</p>
      {% endif %}
    </div>
    <form class="messageForm" action="{% url 'message_ride' ride_id=ride.id %}" method="post">
      {% csrf_token %}
      <input
        autocomplete="off"
        class="messageInput"
        type="text"
        name="messageText"
        placeholder="Message"
      />
      <button class="messageButton" type="submit">Send</button>
    </form>
  </div>
  <div class="interested">
    <h2>Interested People</h2>
    {% if not request.user in interested and request.user != ride.driver and request.user not in confirmed %}
      <a href="/ride/{{ride.id}}/interested">
        <button style="margin: 2rem;" class="interestedButton">Reserve my seat</button>
      </a>
      <small>
        Please note that you will only reserve your seat if the driver accepts your request.
      </small>
    {% elif not request.user in interested and request.user == ride.driver %}
      <ul style="margin-top: 2rem;">
        {% for passenger in interested %}
        <div class="interestedPerson">
          <li>{{passenger}}</li>
          <a href="/ride/{{ride.id}}/confirm/{{passenger.id}}">
            <button class="interestedButton">Confirm</button>
          </a>
        </div>
        {% endfor %}
      </ul>
    {% elif request.user in interested %}
      <a href="/ride/{{ride.id}}/interested">
        <button style="margin: 2rem;" class="interestedButton">Cancel my seat</button>
      </a>
    {% endif %}
  </div>
  <div class="confirmed">
    <h2>Confirmed People</h2>
    {% if confirmed %}
      <ul style="margin-top: 2rem;">
        {% for passenger in confirmed %}
        <li>{{passenger}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p style="margin: 2rem">No confirmed people yet</p>
    {% endif %}
  </div>
</div>

{% endblock %}
